<!DOCTYPE HTML>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <title>📑 Instagram Posts 11</title>
    <script src='https://sagecell.sagemath.org/static/embedded_sagecell.js'></script>
    <script>$(function(){
      sagecell.makeSagecell({inputLocation:'div.linked',linked:true,evalButtonText:'Run Linked Cells'});
      sagecell.makeSagecell({inputLocation:'div.sage_html',evalButtonText:'Run HTML'});  
      sagecell.makeSagecell({inputLocation:'div.sage_js',evalButtonText:'Run JavaScript'});
      sagecell.makeSagecell({inputLocation:'div.sage_r',evalButtonText:'Run R'});  
      sagecell.makeSagecell({inputLocation:'div.sage',evalButtonText:'Run SageMath'});});
    </script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src='https://code.highcharts.com/highcharts.js'></script>
    <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
    <script src='https://profile.codersrank.io/widget/widget.js'></script>
  </head>
  <style>
    @import 'https://fonts.googleapis.com/css?family=Orbitron';
    h1,h2 {color:#3636ff; font-family:Orbitron; text-shadow:4px 4px 4px #aaa;}
    p,a {color:darkblue; font-size:110%; text-shadow:4px 4px 4px #aaa;}
    .sagecell .CodeMirror-scroll {min-height:3em; max-height:70em;}
    body {margin:5px 5px 5px 15px;}
  </style>  
  <body>
<codersrank-widget username='olgabelitskaya' layout='vertical'
style='--header-bg-color:#3636ff; font-family:Orbitron;'></codersrank-widget>
    <h1>&#x1F4D1; &nbsp;Instagram Posts. Part 11</h1>
<a href='https://olgabelitskaya.gitlab.io/index.html'>&#x1F300; &nbsp; Homepage &nbsp; &nbsp;</a>
<a href='https://olgabelitskaya.github.io/README.html'>&#x1F300; &nbsp; GitHub Pages &nbsp; &nbsp;</a>
<a href='https://olgabelitskaya.gitlab.io/instagram_posts/instagram10.html'>&#x1F300; &nbsp; Previous &nbsp; &nbsp;</a>
<a href='https://olgabelitskaya.gitlab.io/instagram_posts/instagram12.html'>&#x1F300; &nbsp; Next &nbsp; &nbsp;</a>
<a href='https://www.instagram.com/olga.belitskaya/'>&#x1F300; &nbsp; Instagram Posts &nbsp; &nbsp;</a>
<a href='https://www.pinterest.ru/olga_belitskaya/code-style/'>&#x1F300; &nbsp; Pinterest Posts</a>
    <h1>Rotate and Zoom Graph Lines</h1>
SageMath &#38; SageMathCell<br/>
<div class='sage'><script type='text/x-sage'>
def rotate_line(a,l): 
    return [[(cos(a)*x-sin(a)*y).n(),(sin(a)*x+cos(a)*y).n()] 
            for [x,y] in l]
def linegraph(g):
    vg=g.get_pos(); eg=g.edges(); ne=len(eg)
    return [[list(vg[eg[i][0]]),list(vg[eg[i][1]])] 
            for i in range(ne)]    
def rotate_linegraph(g,k):
    LG=Graphics(); lg=linegraph(g)
    rlg=[rotate_line(j*pi/k,lg[i]) 
         for j in range(2*k) for i in range(len(lg))]
    for i in range(2*k*len(lg)): 
        col=(random(),0,random())
        LG+=line(rlg[i],color=col,thickness=.3)
    LG.show(axes=False,figsize=(5,5),fontsize=15,
            title='$\\alpha=\\frac{\\pi}{%d}$'%k)
rotate_linegraph(graphs.CubeGraph(4),7)
</script></div><br/>
<div class='sage'><script type='text/x-sage'>
import numpy
def zoom_line(a,l): 
    return [[a*x,a*y] for [x,y] in l]
def linegraph(g):
    vg=g.get_pos(); eg=g.edges(); nv=len(vg); ne=len(eg)
    x0=numpy.mean([list(vg.values())[i][0] for i in range(nv)])
    y0=numpy.mean([list(vg.values())[i][1] for i in range(nv)])
    coord=[[list(vg[eg[i][0]]),list(vg[eg[i][1]])] 
           for i in range(ne)]
    return [[[x-x0,y-y0] for [x,y] in coord[i]] 
            for i in range(ne)]   
def zoom_linegraph(g,n):
    LG=Graphics(); lg=linegraph(g)
    k=randint(100,400)/1000
    zlg=[zoom_line(1+k*j,lg[i]) 
         for j in range(n) for i in range(len(lg))]
    for i in range(n*len(lg)):
        col=(0,random(),random())
        LG+=line(zlg[i],color=col,thickness=.3)
    LG.show(axes=False,figsize=(5,5),fontsize=15,
            title='$k=%.3f$'%k.n())
zoom_linegraph(graphs.CubeGraph(5),3)
</script></div><br/>
    <h1>3D Line Graphs</h1>
SageMath &#38; SageMathCell <br/>
<div class='sage'><script type='text/x-sage'>
import numpy
def col(i,p): 
    c1,c2,c3=i/p,random(),random()
    return sage.plot.colors.float_to_html(c1,c2,c3)
def linegraph3d(g,n):
    LG=Graphics(); vg=g.get_pos(); eg=g.edges() 
    nv=len(vg); ne=len(eg); k=randint(10,50)/100
    x0=numpy.mean([list(vg.values())[i][0] for i in range(nv)])
    y0=numpy.mean([list(vg.values())[i][1] for i in range(nv)])
    coord=[[list(vg[eg[i][0]]),list(vg[eg[i][1]])] 
           for i in range(ne)]
    lg=[[[x-x0,y-y0] for [x,y] in coord[i]] 
        for i in range(ne)]
    zlg=[[[(1+k*j)*x,j,(1+k*j)*y] for [x,y] in lg[i]] 
         for j in range(n) for i in range(ne)]
    for i in range(n*ne):
        LG+=line3d(zlg[i],color=col(i,ne/(n-1)))
    LG.show(frame=False,aspect_ratio=1)
linegraph3d(graphs.CubeGraph(6),5)
</script></div><br/>
<div class='sage'><script type='text/x-sage'>
import numpy
def col(): 
    c1,c2,c3=.3,random(),random()
    return sage.plot.colors.float_to_html(c1,c2,c3)
def linegraph3d(g,k):
    LG=Graphics(); vg=g.get_pos(); eg=g.edges()
    nv=len(vg); ne=len(eg)
    x0=numpy.mean([list(vg.values())[i][0] for i in range(nv)])
    y0=numpy.mean([list(vg.values())[i][1] for i in range(nv)])
    coord=[[list(vg[eg[i][0]]),list(vg[eg[i][1]])] 
           for i in range(ne)]
    lg=[[[x-x0,y-y0] for [x,y] in coord[i]] 
        for i in range(ne)]
    zlg=[[[(cos(j*pi/k)*x-sin(j*pi/k)*y).n(),
           (sin(j*pi/k)*x+cos(j*pi/k)*y).n(),
           (j+1)/k] for [x,y] in lg[i]] 
         for j in range(2*k) for i in range(ne)]
    for i in range(2*k*ne): 
        LG+=line3d(zlg[i],color=col())
    LG.show(frame=False,aspect_ratio=1)
linegraph3d(graphs.CubeGraph(5),6)
</script></div><br/>
SageMath &#38; SageMathCell 
<div class='sage'><script type='text/x-sage'>
import numpy
def col(): 
    c1,c2,c3=random(),.3,random()
    return sage.plot.colors.float_to_html(c1,c2,c3)
def graph_pe(g,n):
    PG=Graphics(); k=randint(10,50)/100
    vg=g.get_pos(); vgp=list(vg.values())
    eg=g.edges(); nv=len(vg); ne=len(eg);
    x0=numpy.mean([vgp[i][0] for i in range(nv)])
    y0=numpy.mean([vgp[i][1] for i in range(nv)])
    cp=[[vgp[i][0]-x0,vgp[i][1]-y0] for i in range(nv)]
    l=[[list(vg[eg[i][0]]),list(vg[eg[i][1]])] 
       for i in range(ne)]
    cl=[[[x-x0,y-y0] for [x,y] in l[i]] 
        for i in range(ne)]
    cp3d=[[[(1+k*j)*x,(1+k*j)*y,j] 
           for j in range(n)] for [x,y] in cp]
    cl3d=[[[(1+k*j)*x,(1+k*j)*y,j] for [x,y] in cl[i]] 
          for j in range(n) for i in range(ne)]
    for i in range(nv): 
        PG+=line3d(cp3d[i],color=col())
    for i in range(n*ne): 
        PG+=line3d(cl3d[i],color=col())
    PG.show(frame=False)
graph_pe(graphs.CubeGraph(7),5)
</script></div><br/>
<div class='sage'><script type='text/x-sage'>
import numpy
def col(): 
    c1,c2,c3=random(),random(),.8
    return sage.plot.colors.float_to_html(c1,c2,c3)
def graph_pe(g,n):
    PG=Graphics(); k=randint(70,120)/100
    vg=g.get_pos(); vgp=list(vg.values())
    eg=g.edges(); nv=len(vg); ne=len(eg)
    x0=numpy.mean([list(vg.values())[i][0] for i in range(nv)])
    y0=numpy.mean([list(vg.values())[i][1] for i in range(nv)])
    cp=[[vgp[i][0]-x0,vgp[i][1]-y0] for i in range(nv)]
    l=[[list(vg[eg[i][0]]),list(vg[eg[i][1]])] 
       for i in range(ne)]
    cl=[[[x-x0,y-y0] for [x,y] in l[i]] 
        for i in range(ne)]
    cp3d=[[[cos(j*pi/k)*x-sin(j*pi/k)*y,
            sin(j*pi/k)*x+cos(j*pi/k)*y,(j+1)/k] 
           for j in range(n)] for [x,y] in cp]
    cl3d=[[[cos(j*pi/k)*x-sin(j*pi/k)*y,
            sin(j*pi/k)*x+cos(j*pi/k)*y,(j+1)/k] 
           for [x,y] in cl[i]] 
          for j in range(n) for i in range(ne)]
    for i in range(nv): 
        PG+=line3d(cp3d[i],color=col())
    for i in range(n*ne): 
        PG+=line3d(cl3d[i],color=col())
    PG.show(frame=False)
g=graphs.CubeGraph(randint(3,7))
graph_pe(g,randint(3,6))
</script></div><br/>
    <h1>Polygons with Increasing Sides, Inscribed in Circles</h1>
SageMath &#38; SageMathCell <br/>
<div class='sage'><script type='text/x-sage'>
def display_polyarc(n,r):
    A=[0]; L=[]; st='$P=%s$<br/>$P=%.4f$'
    [A.append(A[i-1]+4*pi*i/(n*(n+1))) 
     for i in [1..n]]
    pretty_print(html('$A=%s$'%latex(A)))
    ar=sum([arc((0,0),r,sector=(A[i],A[i+1]),
                color=hue(i/n)) for i in range(n)])
    for i in range(n+1):
        x=1-2*sin(A[i]/2)^2
        y=sqrt(1-x^2)*sign(cos(A[i]/2))
        L.append([r*x,r*y])
    l=sum([line((L[i],L[i+1]),color=hue(i/n)) 
           for i in range(n)])
    p=sum([2*r*sin((A[i+1]-A[i])/2) 
           for i in range(n)])
    pretty_print(html(st%(latex(p),p.n())))
    (ar+l).show(gridlines=True)
display_polyarc(7,3)
</script></div><br/>
      <h1>Random Polygons with Shadows</h1>
SageMath &#38; SageMathCell<br/>
<div class='sage'><script type='text/x-sage'>
a,b,c=randint(5,9),randint(10,14),randint(15,19)
q,n=2*randint(3,6),randint(4,16)
var('t,k') 
s1=r'$a=%d; \; b=%d; \; c=%d; \; q=%d; \; n=%d$'
fy(t,k)=cos(pi*t/n+2*k*pi/q)+cos(a*pi*t/n+2*k*pi/q)
fy(t,k)=fy(t,k)+cos(b*pi*t/n+2*k*pi/q)+cos(c*pi*t/n+2*k*pi/q)
fx(t,k)=sin(pi*t/n+2*k*pi/q)-sin(a*pi*t/n+2*k*pi/q)
fx(t,k)=fx(t,k)+sin(b*pi*t/n+2*k*pi/q)-sin(c*pi*t/n+2*k*pi/q)
L=[[[fx(t,k),fy(t,k)] for t in range(2*n)] 
   for k in range(q)]
LT=[[[1.5*fx(t,k),1.2*fy(t,k)] for t in range(2*n)] 
    for k in range(q)]
p=sum([polygon2d(L[i],color=(random()/2,random()/2,1),
                 thickness=.3,fill=False) 
       for i in range(q)])
pt=sum([polygon2d(LT[i],color=(random(),random(),1),
                  alpha=.07) for i in range(q)])
(pt+p).show(axes=False,figsize=9,title=s1%(a,b,c,q,n))
</script></div><br/>
    <h1>Graph Transformations</h1>
SageMath &#38; SageMathCell <br/>
<div class='sage'><script type='text/x-sage'>
import numpy
def graph2d(g,m,n):
    PG=Graphics(); k=randint(100,500)/1000
    vg=g.get_pos(); vgp=list(vg.values())
    eg=g.edges(); nv=len(vg); ne=len(eg)
    x0=numpy.mean([list(vg.values())[i][0] for i in range(nv)])
    y0=numpy.mean([list(vg.values())[i][1] for i in range(nv)])
    cp=[[vgp[i][0]-x0,vgp[i][1]-y0] for i in range(nv)]
    l=[[vg[eg[i][0]],vg[eg[i][1]]] for i in range(ne)]
    cl=[[[x-x0,y-y0] for [x,y] in l[i]] for i in range(ne)]
    cp=[[[cos(j*pi/k)*x-sin(j*pi/k)*y,
          sin(j*pi/k)*x+cos(j*pi/k)*y] 
         for j in range(n)] for [x,y] in cp]
    cl=[[[cos(j*pi/k)*x-sin(j*pi/k)*y,
          sin(j*pi/k)*x+cos(j*pi/k)*y] 
         for [x,y] in cl[i]] 
        for j in range(n) for i in range(ne)]
    for i in range(nv):
        col=(random(),random(),1)
        PG+=polygon(cp[i],color=col,alpha=.1)
    for i in range(n*ne):
        col=(random(),random(),1)
        PG+=line(cl[i],color=col,thickness=1)        
    PG.show(axes=False,figsize=9,
            title=r'$k=%.3f; \ m=%d; \ n=%d$'%(k,m,n))
m,n=randint(3,7),randint(2,9); 
g=graphs.CubeGraph(m); graph2d(g,m,n)
</script></div><br/>
<div class='sage'><script type='text/x-sage'>
import numpy
def graph2d(g,m,n):
    PG=Graphics(); k=randint(100,500)/1000
    vg=g.get_pos(); vgp=list(vg.values())
    eg=g.edges(); nv=len(vg); ne=len(eg)
    x0=numpy.mean([list(vg.values())[i][0] for i in range(nv)])
    y0=numpy.mean([list(vg.values())[i][1] for i in range(nv)])
    cp=[[vgp[i][0]-x0,vgp[i][1]-y0] for i in range(nv)]
    l=[[vg[eg[i][0]],vg[eg[i][1]]] for i in range(ne)]
    cl=[[[x-x0,y-y0] for [x,y] in l[i]] for i in range(ne)]
    cp=[[[(1+k*j)*(cos(j*pi/k)*x-sin(j*pi/k)*y),
          (1+k*j)*(sin(j*pi/k)*x+cos(j*pi/k)*y)] 
         for j in range(n)] for [x,y] in cp]
    cl=[[[(1+k*j)*(cos(j*pi/k)*x-sin(j*pi/k)*y),
          (1+k*j)*(sin(j*pi/k)*x+cos(j*pi/k)*y)] 
         for [x,y] in cl[i]] 
        for j in range(n) for i in range(ne)]
    for i in range(nv): 
        col=(random(),random(),1)
        PG+=polygon(cp[i],color=col,alpha=.1)
    for i in range(n*ne):
        col=color=(random()/2,random()/2,1)
        PG+=line(cl[i],color=col,thickness=.25)        
    PG.show(axes=False,figsize=9,
            title=r'$k=%.3f; \ m=%d; \ n=%d$'%(k,m,n))
m,n=randint(3,7),randint(2,6)
g=graphs.CubeGraph(m); graph2d(g,m,n)
</script></div><br/>
<div class='sage'><script type='text/x-sage'>
def rotate_line(a,l): 
    return [[(cos(a)*x-sin(a)*y).n(),(sin(a)*x+cos(a)*y).n()] 
            for [x,y] in l]
def linegraph(g):
    vg=g.get_pos(); eg=g.edges(); ne=len(eg)
    return [[list(vg[eg[i][0]]),list(vg[eg[i][1]])] 
            for i in range(ne)]    
def rotate_bezier_path_cubegraph(m,k):
    g=graphs.CubeGraph(m) 
    lg=linegraph(g); LG=Graphics()
    rlg=[[rotate_line(j*pi/k,lg[i]) 
          for i in range(len(lg))] for j in range(2*k)] 
    for i in range(2*k): 
        col=(random(),0,random())
        LG+=bezier_path(rlg[i],color=col,thickness=.3)
    LG.show(axes=False,figsize=(5,5),
            title=r'$m=%d; \ k=%d$'%(m,k))
m,k=randint(3,5),randint(3,5)
rotate_bezier_path_cubegraph(m,k)
</script></div><br/>
    <h1>Rotation of Basic Shapes</h1>
SageMath &#38; SageMathCell<br/>
<div class='sage'><script type='text/x-sage'>
def rotate_xy(k,x,y):
    return [[(cos(i*pi/k)*x-sin(i*pi/k)*y).n(),
             (sin(i*pi/k)*x+cos(i*pi/k)*y).n()] 
            for i in range(2*k)]
def circle_mandala(k,n,m):
    centers=[rotate_xy(n,.5+k*i,.5+k*i) 
             for i in range(m)] 
    r=[randint(300,1800)/1000 
       for i in range(m)]
    col=[[randint(300,900)/1000 
          for j in range(2)]+[1] for i in range(m)]
    c=sum([sum([circle([x,y],r[i],facecolor=col[i],
                       fill=True,alpha=.05)+\
      circle([x,y],r[i],color=col[m-i-1],thickness=.7) 
                for [x,y] in centers[i]]) 
           for i in range(m)])
    c.show(axes=false,figsize=9,
           title=r'$k=%.3f; \ m=%d; \ n=%d$'%(k,m,n))
k,n,m=randint(100,900)/1000,randint(5,15),randint(3,9)
circle_mandala(k,n,m)
</script></div><br/>
<div class='sage'><script type='text/x-sage'>
def rotate_xy(k,x,y):
    return [[(cos(i*pi/k)*x-sin(i*pi/k)*y).n(),
             (sin(i*pi/k)*x+cos(i*pi/k)*y).n()] 
            for i in range(2*k)]
def shape_mandala(k,n,m):
    centers=[rotate_xy(n,.5+k*i,.5+k*i) 
             for i in range(m)] 
    r=[randint(300,1800)/1000 for i in range(m)]
    col=[[randint(300,900)/1000 
          for j in range(2)]+[1] for i in range(m)]
    p=sum([sum([polygon(
        [[x+cos(pi*j/i),y+sin(pi*j/i)] for j in range(2*i)],
        color=col[m-i-1],fill=False,thickness=.7) 
                for [x,y] in centers[i]]) for i in [m-3,m-5]])
    el=sum([sum([ellipse(
        [x,y],r[i],r[m-i-1],arctan(y/x),facecolor=col[i],
        fill=True,alpha=.05)+\
       ellipse([x,y],r[i],r[m-i-1],arctan(y/x),
               color=col[m-i-1],thickness=.7) 
                 for [x,y] in centers[i]]) for i in [m-2,m-4]])
    c=sum([sum([circle(
        [x,y],r[i],facecolor=col[i],fill=True,alpha=.05)+\
       circle([x,y],r[i],color=col[m-i-1],thickness=.7) 
                for [x,y] in centers[i]]) 
           for i in list(range(m-5))+[m-1]])
    (p+el+c).show(axes=false,figsize=9,
                  title=r'$k=%.3f; \ m=%d; \ n=%d$'%(k,m,n))
k,n,m=randint(100,900)/1000,randint(5,15),randint(7,12); 
shape_mandala(k,n,m)
</script></div><br/>
    <h1>If you want to use linked cells</h1>
Python &#38; SageMathCell <br/>     
<div class='linked'><script type='text/x-sage'>
import pylab as pl; import matplotlib.patches as pt
import numpy as np; import random as rd
def rotate_xy(k,x,y):
    return np.array([[np.cos(i*np.pi/k)*x-np.sin(i*np.pi/k)*y,
                      np.sin(i*np.pi/k)*x+np.cos(i*np.pi/k)*y] 
                     for i in range(2*k)])
def circle_mandala(k,n,m):
    c=np.array([rotate_xy(n,.5+k*i,.5+k*i) for i in range(m)])
    r=[rd.randint(300,1800)/1000 for i in range(m)]
    l=.1+r[m-1]+c.max()
    col=[[rd.randint(100,900)/1000 
          for j in range(2)]+[1] for i in range(m)]
    fig,ax=pl.subplots(figsize=(7,7))
    for i in range(m):
        for j in range(2*n):
            ax.add_patch(pt.Circle(c[i][j],r[i],alpha=.1,color=col[i]))
            ax.add_patch(pt.Circle(c[i][j],r[i],
                         fill=False,edgecolor=col[m-i-1]))
    pl.title(r'$k=%.3f; \ m=%d; \ n=%d$'%(k,m,n))
    pl.axis('off'); pl.xlim(-l,l); pl.ylim(-l,l)
    pl.tight_layout(); pl.show()
</script></div><br/>
<div class='linked'><script type='text/x-sage'>
k=rd.randint(100,900)/1000; 
n,m=rd.randint(5,15),rd.randint(3,9)
circle_mandala(k,n,m)    
</script></div><br/>
<div class='linked'><script type='text/x-sage'>
a,b,c,q=rd.randint(5,9),rd.randint(10,14),rd.randint(15,19),2*rd.randint(3,6) 
n=rd.randint(4,16); s1=r'$a=%d; \; b=%d; \; c=%d; \; q=%d; \; n=%d$'; yl=5.5
def fy(t,k): return np.cos(np.pi*t/n+2*k*np.pi/q)+np.cos(a*np.pi*t/n+2*k*np.pi/q)+\
                    np.cos(b*np.pi*t/n+2*k*np.pi/q)+np.cos(c*np.pi*t/n+2*k*np.pi/q)
def fx(t,k): return np.sin(np.pi*t/n+2*k*np.pi/q)-np.sin(a*np.pi*t/n+2*k*np.pi/q)+\
                    np.sin(b*np.pi*t/n+2*k*np.pi/q)-np.sin(c*np.pi*t/n+2*k*np.pi/q)
L=np.array([[[fx(t,k),fy(t,k)] for t in range(2*n)] for k in range(2*q)])
LT=[[[1.5*fx(t,k),1.2*fy(t,k)] for t in range(2*n)] for k in range(2*q)]
pl.figure(figsize=(7,7)); ax=pl.gca(); pl.axis('off')
for k in range(2*q):
    col=np.array([rd.randint(100,900)/1000 for l in range(2)]+[1])
    ax.add_patch(pt.Polygon(LT[k],alpha=.1,color=col))
    ax.add_patch(pt.Polygon(L[k],fill=False,color=col/2,lw=.3))
pl.title(s1%(a,b,c,q,n)); pl.xlim(-yl,yl); pl.ylim(-yl,yl)
pl.tight_layout(); pl.show()
</script></div><br/>
    <h1>Rotation of Circles</h1>
R &#38; SageMathCell <br/>
<div class='sage_r'><script type='text/x-sage'>
%%r
svg(filename='Rplots.svg',width=7,height=7,pointsize=10,
    onefile=TRUE,family='courier',bg='white',
    antialias=c('default','none','gray','subpixel'))
rotate_xy<-function (k,x,y){
    i<-1; xyi<-array(c(0,0),c(2*k,2))
    while (i<=2*k){
        xyi[i,1]<-cos(i*pi/k)*x-sin(i*pi/k)*y 
        xyi[i,2]<-sin(i*pi/k)*x+cos(i*pi/k)*y; i<-i+1}
    return(xyi)}
k<-sample(100:900,1)/1000; n<-sample(5:15,1)
m<-sample(5:9,1); r<-sample(5:35,m)
cat(paste0('r = ',r))
cat(paste0('k = ',k,'; n = ',n,'; m = ',m,'\n'))
lm<-3.5+m*k+max(scale(r,4)[3:m,1])
for (i in 1:m) {
    ci<-rotate_xy(n,.5+k*i,.5+k*i); par(mar=c(0,0,0,0))
    col1=rgb(runif(1),runif(1),1)
    col2=rgb(runif(1),runif(1),1,alpha=.1) 
    plot(ci[,1],ci[,2],type='p',cex=r[i],col=col1,
         xlab='',ylab='',xaxt='n',yaxt='n',frame=FALSE,
         xlim=c(-lm,lm),ylim=c(-lm,lm))
    par(new=TRUE)
    plot(ci[,1],ci[,2],type='p',pch=16,cex=r[i],
         col=col2,xlab='',ylab='',xaxt='n',yaxt='n',
         frame=FALSE,xlim=c(-lm,lm),ylim=c(-lm,lm))
    par(new=TRUE)}
dev.off()
</script></div><br/>
    <h1>Rotation of Polygons</h1>
R &#38; SageMathCell <br/>
<div class='sage_r'><script type='text/x-sage'>
%%r
svg(filename='Rplots.svg',width=7,height=7,onefile=TRUE,
    family='sans',bg='white',pointsize=10,
    antialias=c('default','none','gray','subpixel'))
a<-sample(5:9,1); b<-sample(10:14,1); c<-sample(19:25,1)
q<-2*sample(3:10,1); n<-sample(4:16,1); l<-5; t<-seq(1,2*n+1,1) 
par(mar=c(0,0,0,0))
plot(0,0,type='n',xlim=c(-l,l),ylim=c(-l,l),
     xlab='',ylab='',xaxt='n',yaxt='n',frame=FALSE)
for (k in 1:q){
    col1=rgb(runif(1)/2,runif(1)/2,1)
    col2=rgb(runif(1),runif(1),1,alpha=.1); par(mar=c(0,0,0,0))
    fy<-cos(pi*t/n+2*k*pi/q)+cos(a*pi*t/n+2*k*pi/q)+
        cos(b*pi*t/n+2*k*pi/q)+cos(c*pi*t/n+2*k*pi/q)
    fx<-sin(pi*t/n+2*k*pi/q)-sin(a*pi*t/n+2*k*pi/q)+
        sin(b*pi*t/n+2*k*pi/q)-sin(c*pi*t/n+2*k*pi/q)
    polygon(1.5*fx,1.2*fy,col=col2,border=F,xlab='',ylab='',
            xlim=c(-l,l),ylim=c(-l,l),xaxt='n',yaxt='n',
            frame=FALSE); par(new=TRUE)
    polygon(fx,fy,lwd=.5,border=col1,xlab='',ylab='',
            xlim=c(-l,l),ylim=c(-l,l),xaxt='n',yaxt='n',
            frame=FALSE); par(new=TRUE)}
dev.off()
paste0('a = ',a,'; b = ',b,'; c = ',c,'; q = ',q,'; n = ',n)
</script></div><br/>
    <h1>Random Parametric Polygons with Highcharts</h1>
<p>&#60;script src='https://code.highcharts.com/highcharts.js'>&#60;/script> was added in the page head.</p>
HTML &#38; JavaScript &#38; SageMathCell <br/>
<div class='sage_html'><script type='text/x-sage'>
%%html
<div id='highcharts' style='height:630px; width:600px; margin:0 auto'>
the javascript cell is launching here...</div>
</script></div><br/>
<div class='sage_js'><script type='text/x-sage'>
%%javascript
function getinteger(min,max) {return Math.floor(Math.random()*(max-min+1))+min;};
function fx(a,b,c,q,n,t,k) {
    var x1=Math.cos(Math.PI*t/n+k*Math.PI/q)+Math.cos(a*Math.PI*t/n+k*Math.PI/q);
    var x2=Math.cos(b*Math.PI*t/n+k*Math.PI/q)+Math.cos(c*Math.PI*t/n+k*Math.PI/q);
    return x1+x2};
function fy(a,b,c,q,n,t,k) {
    var y1=Math.sin(Math.PI*t/n+k*Math.PI/q)-Math.sin(a*Math.PI*t/n+k*Math.PI/q);
    var y2=Math.sin(b*Math.PI*t/n+k*Math.PI/q)-Math.sin(c*Math.PI*t/n+k*Math.PI/q);
    return y1+y2};
function ar(a,b,c,q,n,k) {
    return Array(2*n+1).fill(k).map((k,t)=>[fx(a,b,c,q,n,t,k),fy(a,b,c,q,n,t,k)]);};
function colrb(i) {var r=getinteger(i,255); var g=0; var b=getinteger(i,255);
    return 'rgb('+r.toString()+','+g.toString()+','+b.toString()+')';};   
var a=getinteger(5,9),b=getinteger(10,14),c=getinteger(15,19);
var q=getinteger(3,6),n=getinteger(4,24); var series=[];
for (var k=1; k<2*q+1; k++) {
    series.push({name:[k,a,b,c,n].toString(),marker:{symbol:'circle',radius:1},
                 color:colrb(k),lineWidth:.5,data:ar(a,b,c,q,n,k)})};
Highcharts.chart('highcharts', {
    chart:{type:'line',backgroundColor:'ghostwhite'},
    xAxis:{title:{text:'x'}},yAxis:{title:{text:'y'}},
    title:{text:'Random Parametric Polygons'},
    credits:{enabled:false},legend:{enabled:false},series:series});
</script></div><br/>
   <h1>Plotting and Functions</h1>
   <h1>in JavaScript inside HTML Cells</h1>
<p>&#60;script src='https://code.highcharts.com/highcharts.js'>&#60;/script> was added in the page head.</p>
HTML &#38; SageMathCell<br/>
<div class='sage_html'><script type='text/x-sage'>
%%html
<div id='highcharts2' style='height:630px; width:600px; margin:0 auto'></div><script>
function getinteger(min,max) {return Math.floor(Math.random()*(max-min+1))+min;};
function fx(a,b,c,q,n,t,k) {
    var x1=Math.cos(Math.PI*t/n+k*Math.PI/q)+Math.cos(a*Math.PI*t/n+k*Math.PI/q);
    var x2=Math.cos(b*Math.PI*t/n+k*Math.PI/q)+Math.cos(c*Math.PI*t/n+k*Math.PI/q);
    return x1+x2};
function fy(a,b,c,q,n,t,k) {
    var y1=Math.sin(Math.PI*t/n+k*Math.PI/q)-Math.sin(a*Math.PI*t/n+k*Math.PI/q);
    var y2=Math.sin(b*Math.PI*t/n+k*Math.PI/q)-Math.sin(c*Math.PI*t/n+k*Math.PI/q);
    return y1+y2};
function ar(a,b,c,q,n,k) {
    return Array(2*n+1).fill(k).map((k,t)=>[fx(a,b,c,q,n,t,k),fy(a,b,c,q,n,t,k)]);};
function colgb(i) {var r=0; var g=getinteger(i-100,255); var b=getinteger(i-100,255);
    return 'rgb('+r.toString()+','+g.toString()+','+b.toString()+')';};   
var a=getinteger(5,11),b=getinteger(12,24),c=getinteger(25,35);
var q=getinteger(3,6),n=getinteger(250,500); var series=[];
for (var k=1; k<2*q+1; k++) {var colk=colgb(k); 
    series.push({name:[k,a,b,c,n],lineWidth:.3,color:colk,data:ar(a,b,c,q,n,k),
                 marker:{symbol:'circle',radius:.5,color:colk}})};
Highcharts.chart('highcharts2', {
    chart:{type:'scatter',backgroundColor:'lightcyan'},
    xAxis:{visible:false},yAxis:{visible:false},
    title:{text:'Random Parametric Scatter Plots'},
    credits:{enabled:false},legend:{enabled:false},series:series});
</script></div><br/>
<p>&#60;script src='https://www.gstatic.com/charts/loader.js'>&#60;/script> was added in the page head.</p>
HTML &#38; SageMathCell<br/>
<div class='sage_html'><script type='text/x-sage'>
%%html
<div id='googlechart' style='width:600px; height:600px;'/><script>
function get_int(xmin,xmax) {return Math.floor(Math.random()*(xmax-xmin+1))+xmin;};
function get_color(k) {return '#00'+get_int(10*k,255).toString(16)+get_int(10*k,255).toString(16);};
function fx(a,b,c,q,n,t,k) {
    var x1=Math.cos(Math.PI*t/n+k*Math.PI/q)+Math.cos(a*Math.PI*t/n+k*Math.PI/q);
    var x2=Math.cos(b*Math.PI*t/n+k*Math.PI/q)+Math.cos(c*Math.PI*t/n+k*Math.PI/q);
    return x1+x2};
function fy(a,b,c,q,n,t,k) {
    var y1=Math.sin(Math.PI*t/n+k*Math.PI/q)+Math.sin(a*Math.PI*t/n+k*Math.PI/q);
    var y2=Math.sin(b*Math.PI*t/n+k*Math.PI/q)+Math.sin(c*Math.PI*t/n+k*Math.PI/q);
    return y1+y2};
function ar(a,b,c,q,n,k) {return Array(2*n+1).fill(k).map((k,t)=>[fx(a,b,c,q,n,t,k),fy(a,b,c,q,n,t,k)]);};
google.charts.load('current',{'packages':['corechart']}); google.charts.setOnLoadCallback(drawChart);
function drawChart() {
    var a=get_int(5,9),b=get_int(10,14),c=get_int(15,19),q=get_int(3,6),n=get_int(4,16); 
    var xy=ar(a,b,c,q,n,1); xy.unshift(['x',[a,b,c,q,n].toString()]); 
    for (var k=2; k<2*q+2; k++) {xy=xy.concat(ar(a,b,c,q,n,k));};
    var data=google.visualization.arrayToDataTable(xy); 
    var options={chartArea:{left:0,top:0,right:0,bottom:20},legend:{position:'bottom'},
        curveType:'none',lineWidth:1,legend:{position:'bottom'},pointSize:3,
        colors:[get_color(a)],hAxis:{textColor:'#fff'},vAxis:{textColor:'#fff'}};
    var chart=new google.visualization.LineChart(document.getElementById('googlechart')); 
    chart.draw(data,options);};
</script></div><br/>
<p>&#60;script src='https://www.gstatic.com/charts/loader.js'>&#60;/script> was added in the page head.</p>
HTML &#38; SageMathCell<br/>
<div class='sage_html'><script type='text/x-sage'>
%%html
<div id='googlechart2' style='width:600px; height:600px;'/><script>
function get_int(xmin,xmax) {return Math.floor(Math.random()*(xmax-xmin+1))+xmin;};
function get_color(k) {return '#00'+get_int(10*k,255).toString(16)+get_int(10*k,255).toString(16);};
function fx(a,b,c,q,n,t,k) {
    var x1=Math.cos(Math.PI*t/n+k*Math.PI/q)+Math.cos(a*Math.PI*t/n+k*Math.PI/q);
    var x2=Math.cos(b*Math.PI*t/n+k*Math.PI/q)+Math.cos(c*Math.PI*t/n+k*Math.PI/q);
    return x1+x2};
function fy(a,b,c,q,n,t,k) {
    var y1=Math.sin(Math.PI*t/n+k*Math.PI/q)-Math.sin(a*Math.PI*t/n+k*Math.PI/q);
    var y2=Math.sin(b*Math.PI*t/n+k*Math.PI/q)-Math.sin(c*Math.PI*t/n+k*Math.PI/q);
    return y1+y2};
function ar(a,b,c,q,n,k) {return Array(2*n+1).fill(k).map((k,t)=>[fx(a,b,c,q,n,t,k),fy(a,b,c,q,n,t,k)]);};
google.charts.load('current',{'packages':['corechart']}); google.charts.setOnLoadCallback(drawChart);
function drawChart() {
    var a=get_int(5,9),b=get_int(10,14),c=get_int(15,19),q=get_int(3,8),n=get_int(10,350); 
    var xy=ar(a,b,c,q,n,1); xy.unshift(['x',[a,b,c,q,n].toString()]); 
    for (var k=2; k<2*q+1; k++) {xy=xy.concat(ar(a,b,c,q,n,k));};
    var data=google.visualization.arrayToDataTable(xy); 
    var options={chartArea:{left:0,top:0,right:0,bottom:20},legend:{position:'bottom'},
                 curveType:'none',lineWidth:.75,colors:[get_color(a)],
                 hAxis:{ticks:[],baselineColor:'#fff'},vAxis:{ticks:[],baselineColor:'#fff'}};
    var chart=new google.visualization.LineChart(document.getElementById('googlechart2')); 
    chart.draw(data,options);};
</script></div><br/>
<p>&#60;script src='https://cdn.plot.ly/plotly-latest.min.js'>&#60;/script> was added in the page head.</p>
HTML &#38; SageMathCell<br/>
<div class='sage_html'><script type='text/x-sage'>
%%html
<div id='plotlychart' style='width:700px; height:600px;'/>
<script>TEST=document.getElementById('plotlychart');
function get_int(min,max) {return Math.floor(Math.random()*(max-min+1))+min;};
function fx(a,b,c,q,n,t,k) {
    var x1=Math.cos(Math.PI*t/n+k*Math.PI/q)+Math.cos(a*Math.PI*t/n+k*Math.PI/q);
    var x2=Math.cos(b*Math.PI*t/n+k*Math.PI/q)+Math.cos(c*Math.PI*t/n+k*Math.PI/q);
    return x1+x2};
function fy(a,b,c,q,n,t,k) {
    var y1=Math.sin(Math.PI*t/n+k*Math.PI/q)-Math.sin(a*Math.PI*t/n+k*Math.PI/q);
    var y2=Math.sin(b*Math.PI*t/n+k*Math.PI/q)-Math.sin(c*Math.PI*t/n+k*Math.PI/q);
    return y1+y2};
function arx(a,b,c,q,n,k) {return Array(2*n+1).fill(k).map((k,t)=>fx(a,b,c,q,n,t,k));};
function ary(a,b,c,q,n,k) {return Array(2*n+1).fill(k).map((k,t)=>fy(a,b,c,q,n,t,k));};
function col(k,q) {return 'rgb('+(k/(2*q+2)).toString()+',0,'+(1-k/(2*q+2)).toString()+')';};
function plt(k) {return Plotly.plot(TEST,[{x:arx(a,b,c,q,n,k),y:ary(a,b,c,q,n,k),
                                          line:{color:col(k,q),width:.3},name:k.toString()}]);};
var a=get_int(5,9),b=get_int(10,14),c=get_int(15,19),q=get_int(3,8),n=get_int(10,350);
for (var k=1; k<2*q+1; k++) {plt(k);}
</script></div><br/>
  </body>
</html>
